body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #38bdf8;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  background: #38bdf8;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  background: red;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
  .input-box {
    flex-direction: column;
  }
}
